@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

*{
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}
 html body {
    background-image: 'http://www.userlogos.org/files/logos/mafi0z/afl.png';

 }